.App {
  /* text-align: center; */
}
.min-h-calc{
  height: calc(100vh - 0px);
}
.onlyheighbar{
  height: 64px;
}

.cube-wrapper {
  --R: calc(pi * 2 / 360); /* pi is 3.141592653589793 */
  --angle: 45;
  --applyAngle: calc(var(--angle) * var(--R));
  width: 800px;
  height: 800px;
 
  transform-style: preserve-3d;
  transform: perspective(2700px) rotateX(-30deg) rotateY(45deg) scale3d(.3, .3, 0.3);
  position: relative;
  left: calc(50vw - 400px);
  top: calc(50vh - 400px);
  transition: 0.8s linear;

}
/* .cube-wrapper:hover{
  transform: perspective(700px) rotateX(-30deg) rotateY(45deg) matrix3d(
      1, 0, 0, 0, 
        0, cos(var(--applyAngle)), sin(var(--applyAngle)), 0,
        0, sin(var(--applyAngle) * -1), cos(var(--applyAngle)), 0,
        0, 0, 0, 1   
    );
} */
.cube-wrapper.top {
  transform: perspective(2700px) rotateX(-90deg) rotateY(-45deg) scale3d(.4, .4, 0.4)
  matrix3d( 
      cos(var(--applyAngle)), 0, sin(var(--applyAngle) * -1), 0, 
      0, 1, 0, 0, 
      sin(var(--applyAngle)), 0, cos(var(--applyAngle)), 0, 
      0, 0, 0, 1 );
  
}
.cube-wrapper.front{
  transform: perspective(2700px) rotateX(105deg) rotateY(-45deg) scale3d(.4, .4, 0.4)
  /* matrix3d( 
      cos(var(--applyAngle)), 0, sin(var(--applyAngle) * -1), 0, 
      0, 1, 0, 0, 
      sin(var(--applyAngle)), 0, cos(var(--applyAngle)), 0, 
      0, 0, 0, 1 ); */

}
.cube-wrapper.left{
  transform: perspective(2700px) rotateX(-20deg) rotateY(240deg) scale3d(.5, .5, 0.5)
  /* matrix3d( 
      cos(var(--applyAngle)), 0, sin(var(--applyAngle) * -1), 0, 
      0, 1, 0, 0, 
      sin(var(--applyAngle)), 0, cos(var(--applyAngle)), 0, 
      0, 0, 0, 1 ); */

}
.cube-wrapper.right{
  transform: perspective(2700px) rotateX(-10deg) rotateY(130deg) scale3d(.4, .4, 0.4)
  /* matrix3d( 
      cos(var(--applyAngle)), 0, sin(var(--applyAngle) * -1), 0, 
      0, 1, 0, 0, 
      sin(var(--applyAngle)), 0, cos(var(--applyAngle)), 0, 
      0, 0, 0, 1 ); */

}
.cube-wrapper.buttom{
  transform: perspective(2700px) rotateX(-170deg) rotateY(-15deg) scale3d(.5, .5, 0.5)
  /* matrix3d( 
      cos(var(--applyAngle)), 0, sin(var(--applyAngle) * -1), 0, 
      0, 1, 0, 0, 
      sin(var(--applyAngle)), 0, cos(var(--applyAngle)), 0, 
      0, 0, 0, 1 ); */

}
.cube-wrapper.back{
  transform: perspective(2700px) rotateX(0deg) rotateY(135deg) 
  matrix3d( 
      cos(var(--applyAngle)), 0, sin(var(--applyAngle) * -1), 0, 
      0, 1, 0, 0, 
      sin(var(--applyAngle)), 0, cos(var(--applyAngle)), 0, 
      0, 0, 0, 1 );
}
.cube-wrapper > div {
position: absolute;
  width: 800px;
  height: 800px;
  text-align: center;
  background-size: cover;
   font-weight: bold;
  font-size: 20px;
  border:1px solid black;
}
.cube-front {
background-color: red;
  transform: translate3d(0, 0, 400px);
}
.cube-back {
  background-color: blue;
  transform: rotateY(180deg) translate3d(0, 0, 400px);
}
.cube-top {
  background-color: rgb(254, 27, 236);
  transform: rotateX(90deg) translate3d(0, 0, 400px);
}
.cube-bottom {
  background-color: rgb(39, 157, 82);
  transform: rotateX(-90deg) translate3d(0, 0, 400px);
}
.cube-left {
  background-color:rgb(255, 221, 1);
  transform: rotateY(-90deg) translate3d(0, 0, 400px);
}
.cube-right {
  background-color: red;
  transform: rotateY(90deg) translate3d(0, 0, 400px);
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.mybest{
  /* position: absolute; */
  /* top : 0 */
  transition: all 1s;
}
.loginwrap{
  /* transform: perspective(700px) rotateX(0deg) rotateY(0deg) ; */
  transform-style: preserve-3d;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.8);
}
.login{
  
  backface-visibility: hidden;
  position: absolute;
  min-width: 279px;
  left:-140px;
}
.signin{
  transform: rotateY(180deg) ;
  backface-visibility: hidden;
  position: absolute;
  min-width: 279px;
  left:-140px;
}
.rotback{
  transform: rotate3d( 0deg 0deg 0deg) ;
}
.h460px{
  height: 460px;
}
#bgimgs0{
background-image: url('./imgs/아리1.png'); 
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}
#bgimgs1{
background-image: url('./imgs/윈도.PNG');  
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}
#bgimgs2{
background-image: url('./imgs/cgv.PNG' ); 
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}
#bgimgs3{
background-image: url(./imgs/vue.PNG); 
background-size: contain;
background-repeat: no-repeat;
background-position: center; 
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    
  }
}
